extends layout

block append scripts
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/device-updater.js')

block content
    div(class='form')
        select(id='sensors-selcet')
            console.log(devices)
            each device in devices
                optgroup(id= device.port.toString().split('').pop())
                    each sensor in device.sensors
                        option=sensor.id
        input(id='set-value-input', placeholder="Write value or x_value,y_value")
        button(id='submit-button') set value
    div(id='response')
    h1= title
    div(class='devices-container')
        each device in devices
            div(class='device', id=device.name)
                h3= device.name
                div(class='sensors')
                    each sensor in device.sensors
                        div(class='sensor', id=sensor.id) [ID: #{sensor.id}] #{sensor.name}:
                            span(class=sensor.result.type) #{JSON.stringify(sensor.result.value)}